{% extends 'user/home.html' %}

{% block title %}
  Approved Complains
{% endblock title %}

{% block main-body %}

<div>
  <ul>
    <li>{{ issue.ticket_num }}</li>
    <li>{{ issue.description_user }}</li>
    <li>{{ issue.machineissue.type }}</li>
    <li>{{ issue.status }}</li>
    <li>{{ issue.machineissue.assignDepartment }}</li>
    {% for spare in issue.machineissue.malfunction_part.all %}
      <li>{{spare}}</li>
    {% endfor %}
    <a class="btn-primary" href="{%url 'User:complain_closing' pk=issue.pk %}">Close Complain</a>
</div>

{% endblock main-body %}