{% extends "user/home.html" %}

{% block title %}
  Complain View
{% endblock title %}

{% block main-body %}
    <div class="header">
      <h1>Work Order Status</h1> 
      <button class="compalain"> <a href="{% url 'User:create_complain' %}"><i class="fa fa-plus"> New</i></a></button>
      <!-- <p>Filter</p> -->
      <!-- <select name="filter" id="filter" onchange="filterData('filter')">
        <option value="date_time">Date/Time</option>
        <option value="status">Status</option>
        <option value="department">Department</option>
      </select> -->
    
    </div>
    <hr>

    <!-- <div class="table-responsive">
      <table class="table  table-bordered">
        <thead>
          <tr>
            <th scope="col" class="text-center">#</th>
            <th scope="col" class="text-center">WORK ORDER</th>
            <th scope="col" class="text-center">EQUIPMENT</th>
            <th scope="col" class="text-center">DEPARTMENT</th>
            <th scope="col" class="text-center">DESCRIPTION</th>
            <th scope="col" class="text-center">STATUS</th> 
          </tr>
        </thead>
        <tbody>
          {% for issue in issue_list  %} 
                <th scope="row" class="text-center">{{ forloop.counter }}</th>
                <td class="text-center"> 
                  <a {% if issue.status == 'PENDING' %}
                          href="{% url 'User:review_complain' pk=issue.pk %}"
                        {% else %} 
                          href="{% url 'maintenance:complain_detail' pk=issue.pk %}"
                        {% endif %}
                        >
                    {{ issue.ticket_num}}
                  </a>
                </td>
                <td class="text-center">{{ issue.machine_id.name }}</td>
                <td class="text-center">{{ issue.user.department}}</td>
                <td class="text-center">{{ issue.description_user }}</td>
                <td class="text-center">{{issue.status}}</td>
              </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>   -->

      {% for issue in issue_list  %}
      {% if issue.user.id == emp.id or issue.user.department == emp.department or issue.error_department == emp.department %}
      <div class="issue-section">
        <h1>{{ issue.equipment.name }}</a></h1>
          <h6><a href="
            
            {% if emp.department.dpt_type == 'PRODUCTION'   %}
              {% url 'User:complain_track' pk=issue.pk %}
            {% elif emp.department.dpt_type != 'PRODUCTION' %}
              {% if issue.status == 'PENDING' %}
                {% url 'User:review_complain' pk=issue.pk %}  
              {% elif issue.status == 'REVIEWED'%}
                {% url 'maintenance:complain_detail' pk=issue.pk %}    
              {% endif %}
            {% endif %}"
            >{{ issue.description_user }}</a></h6>    
           
        <div class="priority">{{issue.status}}</div>
      </div>  
      {% endif %}
      
      {% endfor %}

    
    <script>
      async function filterData(id){
        const elem = document.getElementById(id);
        // console.log(elem.value)
        // const selectIndex = elem.selectIndex;
        // const selectOption = elem.options[selectIndex];
        const selectValue = elem.value;
        console.log(selectValue)
        const url = `http://127.0.0.1:8000/machine-issue/${selectValue}`;
        console.log(url)
        const response = await fetch(url);
        const data = await response.json();

        if(!response.ok){
          throw new Error(`Error fetching Issue List:${response.status}`);
        }

        console.log(data)


      }
    </script>
{% endblock main-body %}



