{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/a06ab02596.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'user/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'maintenance/css/complain-list.css' %}">
    <link rel="stylesheet" href="{% static 'User/home.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    
    {% endblock head %}
    
    <title>{% block title %}
      Home
    {% endblock title %}</title>
</head>
<body>
    <div class="">
            <!-- NAVBAR STARTS -->
    <nav class="navbar-top">
        <div class="navbar-brand">
            <a  href="{% url 'User:home' %}">
                <img src="{% static 'index/images/output-onlinepngtools (1).png' %}" alt="Logo" >
            </a>
        </div>
        
        <div class="nav-icon-left">
            <a href="{% url 'User:logout' %}">
                {% if user.is_authenticated %}
                    <i class="fa fa-sign-out" aria-hidden="true"></i>  
                {% endif %}
            </a>
            
            <div type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">
                <i class="fa fa-bars"></i>
            </div>
          
        </div>
          

    </nav>

    <!-- NAVBAR ENDS -->
    <hr>
    <!-- SIDEBAR STARTS -->

    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">MENU</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            {% block sidebar %}
            <div class="sidebar">
                <ul class="list-unstyled">
                    
                    
                        <li><a  href="{% url 'User:add_machine' %}"> Add Machine</a></li>
                        <li><a  href="{% url 'User:create_complain' %}">Complain</a></li>
                        <li><a  href="{% url 'maintenance:complain_list' %}">Ticket List</a></li>
                        <li><a  href="{% url 'User:spares' %}">Spares</a></li>
                        <li><a  href="{% url 'User:list_unit' %}">Unit Detail</a></li>
                        <li><a  href="{% url 'User:list_users' %}">User List</a></li>
    
                    
                </ul>
            </div>
            {% endblock sidebar %}
        </div>
    </div>
    <!-- SIDEBAR ENDS -->

    <!-- MAIN BODY STARTS -->

    
    
    <div class="container">

    
        {% block main-body %}
        <div class="card">
            <a href="{% url 'User:create_complain' %}"><i class=" fa fa-file fa-2x"></i></a>
            <p>Complain</p>
            
            
        </div>
        <div class="card">
            <a href="{% url 'maintenance:complain_list' %}"><i class="fa fa-ticket fa-2x"></i></a>
            <p>Tickets</p>
        </div>
        <div class="card">
            <a href="{% url 'User:spares' %}"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
            <p>Inventory</p>
        </div>

        <!-- <h1 class="Main-head">Available Machines</h1>
        {% for eq,machines in equipments.items %}
        <div class="row">
            {% if machines %}
            <h2>{{eq}}</h2>
            <div class="col-sm">
                {% for m in machines %}
                <div class="card m-4" style="width: 18rem; float: left;">
                    {% if m.image %}
                    <img src="{{ m.image.url }}" class="card-img-top" alt="{{ m.name }} ">
                    {% else %}
                    <img src="{% static 'index/images/img2.png' %}" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{m.name}}</h5>
                      <p class="card-text">{{m.purchase_cost}}</p>
                      <a href="{% url 'User:machineDetail' pk=m.pk %}" class="btn btn-primary">Details</a>
                    </div>
                </div>     
                {% endfor %}
            </div>  
            {% endif %}
            
        </div>
           


        {% endfor %} --> 

        {% endblock main-body %}

        </div>

        
    <!-- MAIN BODY ENDS -->

    </div>


    


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>      


</body>
</html>